@model CadastroViewModel

<section class="cadastro py-5">
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <form asp-action="Create" class="p-5 bg-cinza-light rounded-3">
                <h2 class="text-principal-dark text-center mb-3">Registro</h2>
                    <div class="col-12 mb-3 email">
                        <p class="mb-0">
                            <label class="form-label" asp-for="@Model.Email"><span>E-mail: </span></label>
                        </p>
                        <input class="form-control" type="text" asp-for=@Model.Email>
                        <span class="text-danger form-text" asp-validation-for="@Model.Email"></span>
                    </div>
                    <div class="col-12 mb-3 nome">
                        <p class="mb-0">
                            <label class="form-label" asp-for="@Model.Nome"><span>Nome: </span></label>
                        </p>
                        <input class="form-control" type="text" asp-for=@Model.Nome>
                        <span class="text-danger form-text" asp-validation-for="@Model.Nome"></span>
                    </div>
                    <div class="col-12 mb-3 senha row">
                        <div class="col-6">
                            <p class="mb-0">
                                <label class="form-label" asp-for="@Model.Senha"><span>Senha: </span></label>
                            </p>
                            <input class="form-control" type="password" asp-for=@Model.Senha>
                            <span class="text-danger form-text" asp-validation-for="@Model.Senha"></span>
                        </div>
                        <div class="col-6">
                            <p class="mb-0">
                                <label class="form-label" asp-for="@Model.ConfSenha"><span>Confirmação da senha:
                                    </span></label>
                            </p>
                            <input class="form-control" type="password" asp-for=@Model.ConfSenha>
                            <span class="text-danger form-text" asp-validation-for="@Model.ConfSenha"></span>
                        </div>
                    </div>
                    <div
                        class="col-12 text-center mt-5 d-flex flex-column justify-content-center align-items-center gap-4">
                        <button type="submit" class="btn btn-principal-dark botao">Cadastro</button>
                        <p>Já tem uma conta? <a asp-action="Login" asp-controller="Usuario">Faça login.</a> </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>