@model LoginViewModel

<section class="aviso">
    <div class="container">
        <div class="row">
            <div class="col-12">
                        @{
            if (@ViewBag.MensagemValidacao is not null)
            {
                <section class="avisos pt-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-success w-100">
                                    @ViewBag.MensagemValidacao
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            }
        }
            </div>
        </div>
    </div>
</section>

<section class="login py-5">
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <form asp-action="Login" class="p-5 bg-cinza-light rounded-3">
                    <h2 class="text-principal-dark text-center mb-3">Login</h2>
                    <div class="col-12 mb-3 email">
                        <p class="mb-0">
                        <label class="form-label" asp-for="@Model.Email">E-mail: </label>
                        </p>
                        <input class="form-control" type="text" asp-for=@Model.Email>
                        <span class="text-danger form-text" asp-validation-for="@Model.Email"></span>
                    </div>
                    <div class="col-12 mb-3 senha">
                        <p class="mb-0">
                        <label class="form-label" asp-for="@Model.Senha"><span>Senha: </span></label>
                        </p>
                        <input class="form-control" type="password" asp-for=@Model.Senha>
                        <span class="text-danger form-text" asp-validation-for="@Model.Senha"></span>
                    </div>
                    <div class="col-12 lembrar">
                        <input type="checkbox" asp-for="@Model.Lembrar">
                        <label class="form-label" asp-for="@Model.Lembrar"><span id="lembrar">Lembrar de mim.</span></label>
                    </div>
                    <div class="col-12 text-center mt-5 d-flex flex-column justify-content-center align-items-center gap-4">
                            <button type="submit" class="btn btn-principal-dark botao">Login</button>
                            <p>Não tem uma conta? <a asp-action="Create"
                                asp-controller="Usuario">Registre-se.</a> </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>