@model TarefaViewModel
<div class="d-flex justify-content-between align-items-center">
    <h3>Editar Tarefa</h3>
    <button class="btn btn-danger d-flex align-items-center justify-content-center p-2 fechar-modal" title="Fechar">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg"
            viewBox="0 0 16 16">
            <path
                d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
        </svg>
    </button>
</div>

<form asp-action="Edit" asp-controller="Tarefa">
    <input type="hidden" asp-for="@Model.FkLista" value="@Model.FkLista">
    <input type="hidden" asp-for="@Model.IdTarefa" value="@Model.IdTarefa">
    <input type="hidden" asp-for="@Model.Concluido" value="@Model.Concluido">
    <div class="col-12 mb-3 titulo">
        <div class="d-flex justify-content-between">
            <p class="mb-0">
                <label class="form-label" asp-for="@Model.Titulo"><span>Título: </span></label>
            </p>
        </div>
        <input class="form-control" type="text" asp-for="@Model.Titulo">
        <span class="text-danger form-text" asp-validation-for="@Model.Titulo"></span>
    </div>
    <div class="col-12 mb-3 descricao">
        <div class="d-flex justify-content-between">
            <p class="mb-0">
                <label class="form-label" asp-for="@Model.Descricao"><span>Descricao: </span></label>
            </p>
        </div>
        <textarea class="form-control" rows="4" asp-for="@Model.Descricao">
        </textarea>
        <span class="text-danger form-text" asp-validation-for="@Model.Descricao"></span>
    </div>
    <div class="col-12 mb-3 estimativa">
        <div class="d-flex justify-content-between">
            <p class="mb-0">
                <label class="form-label" asp-for="@Model.EntregaEstimada"><span>Estimativa de entrega: </span></label>
            </p>
        </div>
        <input class="form-control" type="date" asp-for="@Model.EntregaEstimada">
        <span class="text-danger form-text" asp-validation-for="@Model.EntregaEstimada"></span>
    </div>
    <button type="submit" class="btn btn-principal-dark botao" title="Salvar">Salvar</button>
</form>